<div>
    <%if(locals.folders) {%>
        <%locals.folders.forEach((folder) => {%>
            <ul>
                <li><a href=<%= folder.url%>><%=folder.name %></a></li>
                <li><%= folder.createdAt %></li>
                <li>
                    <form method="get" action=<%= folder.editFolderLink %> >
                        <div>
                            <input type="submit" value="edit" name="delete">
                        </div>
                    </form>
                </li>
                <li>
                    <form method="post" action=<%= folder.folderDeleteAction %>>
                        <div>
                            <input type="submit" value="delete" name="delete">
                        </div>
                    </form>
                </li>
            </ul>
        <%})%>
    <%}%>
</div>